body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: aliceblue;
}

h1{
    color: gray;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px 40px;
}

#inputTask
{
    color: gray;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 40px;
}

.add-button
{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: slategray;
    color: aliceblue;
}

li
{
    padding: 10px;
    background-color: azure;
    color: #000;
    border: 1px solid black;
    border-radius: 10px;
    list-style-position: inside;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList
{
    padding-left: 0px;
}

#taskList button{
    background-color: grey;
    color: aliceblue;
    border-radius: 5px;
    border: 0px solid grey;
    padding: 5px 10px;
}

ul input 
{
    background-color: azure;
    border: 0px;
    width: 800px;
    word-break: break-all;
}